@page "/criptografia"

<h3 class="text-center">Criptografador</h3>

<div class="row">
	<div class="col text-center">
		<label>Informe aqui o texto original</label>
		<textarea @bind="Original" class="form-control">
		</textarea>
	</div>
</div>

<div class="row">
	<div class="col-3 p-3">
		<button @onclick="Criptografar" class="btn btn-primary">
			Criptografar
		</button>
	</div>
	<div class="col-9 p-3">
		<textarea @bind="Criptografado" class="form-control">
		</textarea>
	</div>
</div>


<div class="row">
	<div class="col-3 p-3">
		<button @onclick="Descriptografar" class="btn btn-primary">
			Descriptografar
		</button>
	</div>
	<div class="col-9 p-3">
		<textarea @bind="Descriptografado" class="form-control">
		</textarea>
	</div>
</div>


@code {

	string Original;
	string Criptografado;
	string Descriptografado;

	void Criptografar()
	{
		string s = "";

		foreach (char car in Original)
		{
			int embaralhado = Convert.ToInt32(car) + 5;
			s = s + (char)embaralhado;
		}
		Criptografado = s;
	}

	void Descriptografar()
	{
		string s = "";

		foreach (char car in Criptografado)
		{
			int embaralhado = Convert.ToInt32(car) - 5;
			s = s + (char)embaralhado;
		}
		Descriptografado = s;
	}

}
