@page "/dadossimples"

<h3 class="text-center">Dados Simples</h3>

<div class="form-group">
	<label>Informe um número entre 1 e 6</label>
	<input @bind="numeroInformado" class="form-control" />
</div>

<div class="form-group">
	<button @onclick="GirarDado" class="btn btn-outline-danger">
		Girar o dado 3 vezes
	</button>
</div>

<div class="form-group">
	<textarea @bind="resultados" class="form-control" />
</div>

<div class="form-group">
	<label class="text-danger">@mensagem</label>
</div>

@code {

	int numeroInformado;
	Random aleatorio = new Random();
	string resultados;
	string mensagem;

	void GirarDado()
	{

		resultados = "";
		mensagem = "Sinto muito, não acertou";

		for (int i = 0; i < 3; i = i + 1)
		{
			int tentativa = aleatorio.Next(6) + 1;
			resultados = resultados + tentativa + "/";

			if (tentativa == numeroInformado)
			{
				mensagem = "Parabéns, acertou!";
			}
		}
	}

}
