@page "/"

<h1 class="text-danger">C# START</h1>

<div class="p-0 pb-3">
	Mais um livro do Prof. Dr. André Campos
</div>
<h5 class="p-3 text-muted">
	Depois dos sucessos <b>Java START</b> e <b>JavaScript START</b>, André Campos publica <span class="text-danger font-weight-bold">C# START</span>, finalmente abordando a linguagem com a qual ele tem maior prazer em construir software.
</h5>
<h5 class="p-3 text-muted">
	No estilo marcante deste autor, que é ir direto ao ponto e sempre com muitos exemplos práticos, o livro te leva em uma verdadeira viagem pelo linguagem C#, 
	desde o mais básico dos conceitos, até os mais avançados como classes classes estáticas, lambdas, coleções, repositórios e muito mais.
</h5>
<h5 class="p-3 text-muted">
	Como é característico deste autor, o livro foge das mesmices e chatices, e busca uma abordagem mais moderna, didática e até divertida. Ainda, prioriza o que é realmente importante para o dia a dia da prática de programar.
</h5>

