@page "/pessoaexibe"

@using static LivroCSharp.MinhasClasses.Pessoa

<h3>Pessoa Exibe</h3>

<div class="container p-5">

	<div>
		<label>Nome: @Nome</label>
	</div>

	<div>
		<label>Endereço: @Endereco</label>
	</div>

	<div>
		<label>Idade: @Idade</label>
	</div>

</div>

@code {

}
