<ul class="nav d-block" style="max-height:100vh;overflow-y:scroll;overflow-x:hidden;scrollbar-base-color:transparent;">

	<li class="nav-item px-3">
		<NavLink class="nav-link" href="pessoaexibe" Match="NavLinkMatch.All">
			Pessoa Exibe
		</NavLink>
	</li>

	<li class="nav-item px-3">
		<NavLink class="nav-link" href="pessoacadastra" Match="NavLinkMatch.All">
			Pessoa Cadastra
		</NavLink>
	</li>

	<li class="nav-item px-3">
		<NavLink class="nav-link" href="cadastroprodutos" Match="NavLinkMatch.All">
			Cadastro de Produtos
		</NavLink>
	</li>

	<li class="nav-item px-3">
		<NavLink class="nav-link" href="frases" Match="NavLinkMatch.All">
			Frases
		</NavLink>
	</li>

	<li class="nav-item px-3">
		<NavLink class="nav-link" href="desafio13" Match="NavLinkMatch.All">
			Desafio
		</NavLink>
	</li>

	<li class="nav-item px-3">
		<NavLink class="nav-link" href="cadastroalunos">
			Castro alunos
		</NavLink>
	</li>
	<li class="nav-item px-3">
		<NavLink class="nav-link" href="metodo">
			Método
		</NavLink>
	</li>
	<li class="nav-item px-3">
		<NavLink class="nav-link" href="conversoes">
			Conversões
		</NavLink>
	</li>
	<li class="nav-item px-3">
		<NavLink class="nav-link" href="imc">
			IMC
		</NavLink>
	</li>
	<li class="nav-item px-3">
		<NavLink class="nav-link" href="notas">
			Notas
		</NavLink>
	</li>

	<li class="nav-item px-3">
		<NavLink class="nav-link" href="dadossimples">
			Dados simples
		</NavLink>
	</li>
	<li class="nav-item px-3">
		<NavLink class="nav-link" href="predio">
			Prédio
		</NavLink>
	</li>
	<li class="nav-item px-3">
		<NavLink class="nav-link" href="testesstring">
			Testes com Strings
		</NavLink>
	</li>
	<li class="nav-item px-3">
		<NavLink class="nav-link" href="criptografia">
			Criptografia
		</NavLink>
	</li>
	<li class="nav-item px-3">
		<NavLink class="nav-link" href="deuruim">
			Deu Ruim
		</NavLink>
	</li>
	<li class="nav-item px-3">
		<NavLink class="nav-link" href="minicalculadora">
			Deu Ruim
		</NavLink>
	</li>
	<li class="nav-item px-3">
		<NavLink class="nav-link" href="variaveis">
			Variáveis
		</NavLink>
	</li>

	<li> DESAFIOS </li>

	<li class="nav-item px-3">
		<NavLink class="nav-link" href="desafio16" Match="NavLinkMatch.All">
			Desafio 16
		</NavLink>
	</li>

</ul>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
